.clockpage
{
    margin: auto;
    min-width: 100px;
    background: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    padding: 10px;
    font-weight: bold;
    border-top: 10px solid #55c49f;
    margin-top: 20px;
}

#dayOfWeek {
    display: block;
    font-weight: normal;
    font-size: 18px;
}